@import "../../../../../../assets/styles/partials/variables";

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  div {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    height: 70px;
    padding-bottom: 5px;
  }
}

button:first-of-type {
  margin-top: 20px;
}

button {
  margin-bottom: 10px;
}


