$fontWeightExtraLight: 200;
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightSemiBold: 600;
$fontWeightBold: 800;

$logo: 48px;
$headline-1: 32px;
$headline-2: 22px;
$headline-3: 20px;
$paragraph: 16px;
$paragraph-footer: 14px;
$paragraph-label: 12px;

$border-radius: 2px;
