div {
  display: inline-block;
  position: absolute;

  .bar {
    display: inline-block;
    position: relative;
    top: -15px;
    left: -1px;
    height: 10px;
    width: calc((60vw + 2px) / 5);
    background: var(--success-alert);
  }
}
