<div class="container">
  <h2>Buttons</h2>
  <div>
    <h4>ultra-small buttons</h4>
    <button class="ultra-small success">Zaloguj</button>
    <button class="ultra-small warning">Zaloguj</button>
    <button class="ultra-small danger">Zaloguj</button>
    <button class="ultra-small primary">Zaloguj</button>
    <button class="ultra-small secondary">Zaloguj</button>
    <button class="ultra-small info">Zaloguj</button>
    <button class="ultra-small light">Zaloguj</button>
    <button class="ultra-small dark">Zaloguj</button>
  </div>
  <div>
    <h4>extra-small buttons</h4>
    <button class="extra-small success">Zaloguj</button>
    <button class="extra-small warning">Zaloguj</button>
    <button class="extra-small danger">Zaloguj</button>
    <button class="extra-small primary">Zaloguj</button>
    <button class="extra-small secondary">Zaloguj</button>
    <button class="extra-small info">Zaloguj</button>
    <button class="ultra-small light">Zaloguj</button>
    <button class="ultra-small dark">Zaloguj</button>
  </div>
  <div>
    <h4>small buttons</h4>
    <button class="small success">Zaloguj</button>
    <button class="small warning">Zaloguj</button>
    <button class="small danger">Zaloguj</button>
    <button class="small primary">Zaloguj</button>
    <button class="small secondary">Zaloguj</button>
    <button class="small info">Zaloguj</button>
    <button class="small light">Zaloguj</button>
    <button class="small dark">Zaloguj</button>
  </div>
  <div>
    <h4>normal buttons</h4>
    <button class="normal success">Zaloguj</button>
    <button class="normal warning">Zaloguj</button>
    <button class="normal danger">Zaloguj</button>
    <button class="normal primary">Zaloguj</button>
    <button class="normal secondary">Zaloguj</button>
    <button class="normal info">Zaloguj</button>
    <button class="normal light">Zaloguj</button>
    <button class="normal dark">Zaloguj</button>
  </div>
  <div>
    <h4>big buttons</h4>
    <button class="big success">Zaloguj</button>
    <button class="big warning">Zaloguj</button>
    <button class="big danger">Zaloguj</button>
    <button class="big primary">Zaloguj</button>
    <button class="big secondary">Zaloguj</button>
    <button class="big info">Zaloguj</button>
    <button class="big light">Zaloguj</button>
    <button class="big dark">Zaloguj</button>
  </div>
  <div>
    <h4>extra-big buttons</h4>
    <button class="extra-big success">Zaloguj</button>
    <button class="extra-big warning">Zaloguj</button>
    <button class="extra-big danger">Zaloguj</button>
    <button class="extra-big primary">Zaloguj</button>
    <button class="extra-big secondary">Zaloguj</button>
    <button class="extra-big info">Zaloguj</button>
    <button class="extra-big light">Zaloguj</button>
    <button class="extra-big dark">Zaloguj</button>
  </div>
  <div>
    <h4>ultra-big buttons</h4>
    <button class="ultra-big success">Zaloguj</button>
    <button class="ultra-big warning">Zaloguj</button>
    <button class="ultra-big danger">Zaloguj</button>
    <button class="ultra-big primary">Zaloguj</button>
    <button class="ultra-big secondary">Zaloguj</button>
    <button class="ultra-big info">Zaloguj</button>
    <button class="ultra-big light">Zaloguj</button>
    <button class="ultra-big dark">Zaloguj</button>
  </div>
  <h2>Inputs</h2>
  <div>
    <h4>normal inputs</h4>
    <label for="login0">ultra-small</label>
    <input type="text" id="login0" class="ultra-small">
    <label for="login1">extra-small</label>
    <input type="text" id="login1" class="extra-small">
    <label for="login2">small</label>
    <input type="text" id="login2" class="small">
    <label for="login3">normal</label>
    <input type="text" id="login3" class="normal">
    <label for="login4">big</label>
    <input type="text" id="login4" class="big">
    <label for="login5">extra-big</label>
    <input type="text" id="login5" class="extra-big">
    <label for="login6">ultra-big</label>
    <input type="text" id="login6" class="ultra-big">
    <label for="login7">fixed</label>
    <input type="text" id="login7" class="fixed">
  </div>
  <h2>User notification</h2>
  <div>
    <app-user-notification class="ultra-small success">Notify</app-user-notification>
    <app-user-notification class="extra-small warning">Notify</app-user-notification>
    <app-user-notification class="small danger">Notify</app-user-notification>
    <app-user-notification class="normal primary">Notify</app-user-notification>
    <app-user-notification class="big secondary">Notify</app-user-notification>
    <app-user-notification class="extra-big info">Notify</app-user-notification>
    <app-user-notification class="ultra-big light">Notify</app-user-notification>
    <app-user-notification class="fixed dark">Notify</app-user-notification>
  </div>
</div>
