.categories-wrapper {
  display: flex;
  justify-content: center;
  width: 60vw;
  height: 100%;
  div {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-evenly;
  }
}

button {
  position: absolute;
  &:first-of-type {
    bottom: 15px;
    right: 104px;
  }
  &:last-of-type {
    bottom: 15px;
    right: 15px;
  }
}
