div {
  display: flex;
  flex-direction: column;
  background: #17a2b8;
  height: 80%;
  justify-content: space-between;
}

button {
  position: absolute;
  &:first-of-type {
    bottom: 15px;
    right: 104px;
  }
  &:last-of-type {
    bottom: 15px;
    right: 15px;
  }
}
