@import "../../../../../../assets/styles/partials/variables";

nav {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 450px;
  height: 60px;
  background: var(--success-alert);
  animation: show-navigation 250ms ease-in;

  div {
    display: inline-flex;
    align-items: center;
    .logo {
      cursor: pointer;
      margin: 0 30px 0 15px;
      height: 45px;
      width: 45px;
      background: url("../../../../../../assets/images/dish-45.png");
    }

    input {
      margin-left: 20px;
      font-size: $headline-1;
      background-color: var(--success-alert);
      height: 45px;
      width: 700px;
      border-bottom: 2px solid black;
    }

    .nav-pill {
      display: inline-flex;
      font-size: $headline-3;
      cursor: pointer;
      padding: 0 10px 0 5px;
      height: 60px;
      transition: color 250ms ease-out, background-color 250ms ease-out;
      &:hover {
        background: var(--success);
        color: var(--white);
        transition: color 250ms ease-in, background-color 250ms ease-in;
      }
    }

    .nav-icon {
      margin: 0 5px;
    }
  }

  app-dropdown {
    position: relative;
    margin-right: 15px;
  }
}

@keyframes show-navigation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1280px) {
  nav {
    div {
      input {
        width: 500px;
        font-size: $headline-2;
      }
      span {
        font-size: $headline-2;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  nav {
    div {
      input {
        width: 400px;
      }
    }
  }
}

@media screen and (max-width: 940px) {
  nav {
    div {
      input {
        width: 300px;
        font-size: $paragraph;
      }
      span {
        font-size: $paragraph;
      }
    }
  }
}

@media screen and (max-width: 840px) {
  nav {
    div {
      input {
        width: 250px;
        font-size: $paragraph-footer;
      }
      span {
        font-size: $paragraph-footer;
      }
      button {
        padding: 4px 10px;
        font-size: $paragraph-footer;
      }
    }
  }
}

@media screen and (max-width: 620px) {
  nav {
    div {
      button {
        padding: 2px 5px;
        font-size: $paragraph-footer;
      }
    }
  }
}
