.global-error-container {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 1;
  opacity: 0;
  transition: opacity 250ms ease-out;

  &.visible {
    opacity: 1;
    transition: opacity 250ms ease-in;
  }
}
