div {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column-reverse;
  height: 70px;
  width: 60vw;

  input {
    width: 50vw;
    background: var(--white);
  }
}

button {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
