span {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

button {
  position: absolute;
  animation: show-elements 250ms ease-in;
  &:first-of-type {
    bottom: 15px;
    right: 161px;
  }
  &:last-of-type {
    bottom: 15px;
    right: 15px;
  }
}
