span {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

button {
  position: absolute;
  &:first-of-type {
    bottom: 15px;
    right: 161px;
  }
  &:last-of-type {
    bottom: 15px;
    right: 15px;
  }
}
