.p-error {
  bottom: -15px;
  position: absolute;
  animation: hide-feedback 250ms ease-in-out;
  &.valid {
    animation: show-feedback 250ms ease-in-out;
    color: var(--success);
    font-size: $paragraph-label;

  }
  &.invalid {
    animation: show-feedback 250ms ease-in-out;
    color: var(--danger);
    font-size: $paragraph-label;
  }
}

@keyframes show-feedback {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide-feedback {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
