@import "./assets/styles/base";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
$source-sans-pro: 'Source Sans Pro', serif;

h1 {
  font-size: $headline-1;
}

h2 {
  font-size: $headline-2;
}

h3 {
  font-size: $headline-2;
}

.global-error-container {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 1;
  opacity: 0;
  transition: opacity 250ms ease-out;

  &.visible {
    opacity: 1;
    transition: opacity 250ms ease-in;
  }
}

* {
  font-family: $source-sans-pro;
  outline: none;
  border: none;

  &:focus {
    border: none;
    outline: none;
  }
  &:active {
    border: none;
    outline: none;
  }
  &:hover {
    outline: none;
  }
}



