@import "./assets/styles/base";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
$source-sans-pro: 'Source Sans Pro', serif;

h1 {
  font-size: $headline-1;
}

h2 {
  font-size: $headline-2;
}

h3 {
  font-size: $headline-2;
}

* {
  font-family: $source-sans-pro;
}

*:focus {
  border: none;
}





