div {
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    background: var(--white);
  }
}

button {
  position: absolute;
  &:first-of-type {
    bottom: 15px;
    right: 104px;
  }
  &:last-of-type {
    bottom: 15px;
    right: 15px;
  }
}
